<nav class="account-bar">
  <ul>
    <li class="active"><a href="/admin">Dashboard</a></li>
    <li><a href="/admin/users">Usuarios</a></li>
    {{--  <li><a href="#profile">Perfil</a></li>  --}}
    <li><a href="/admin/campaigns">Campa&ntilde;as</a></li>
    {{--  <li><a href="#donors">Donantes</a></li>
    <li><a href="#pledges">Sedes</a></li>  --}}
    {{--  <li><a href="#rewards.html">Rewards</a></li>
    <li><a href="#payments.html">Payments</a></li>  --}}
  </ul>
</nav>
